webkit(prop, args){
  webkit-{prop} args;
  -moz-{prop} args;
  {prop} args;
}

border-radius(){
  webkit('border-radius', arguments);
}

box-shadow(){
  webkit('box-shadow', arguments);
}

button{
  border-radius(5px);
  box-shadow 1
}
